.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 1;
}

.portrait {
  width: 300px;
  align-self: flex-start;
}

.about-info {
  width: 400px;
}

.title {
  font-size: 32px;
  font-family: "Sarala", "Arial Bold", sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.sig {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.pad {
  margin-left: 32px;
}
