.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portrait {
  width: 300px;
  align-self: flex-start;
  margin-top: 16px;
}

.about-info {
  flex: 1;
}

.title {
  font-size: 32px;
  font-family: "Sarala", "Arial Bold", sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.sig {
  margin-top: 16px;
  text-align: right;
}

.bold {
  font-weight: bold;
}

.pad {
  margin-left: 32px;
}

/* ==================== MOBILE RESPONSIVE ==================== */

@media only screen and (max-width: 768px) {
  .about-section {
    flex-direction: column;
    justify-content: center;
  }

  .portrait {
    align-self: center;
  }

  .pad {
    margin-left: 0;
  }
}
