/* ========================= ABOUT SECTION ========================= */

.main-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 8px;
}

.banner {
  width: 100%;
  height: 340px;
}

.game-title {
  font-size: 32px;
  font-family: "Sarala", "Arial Bold", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.game-label {
  font-family: "Sarala", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: gray;
  margin: 0;
}

.align-center {
  align-self: center;
}

.download-btn {
  border: none;
  background: rgb(11, 12, 15);
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Sarala", "Arial Bold", sans-serif;
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive video CSS source: 
  https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
/* ============================ FEATURES ============================ */
.feature {
  display: flex;
  flex-direction: row;
  margin: 42px auto;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.feature-title {
  font-size: 24px;
  font-family: "Sarala", "Arial Bold", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.feature-info {
  flex: 1;
}

.screenshot {
  flex: 0 0 50%;
  width: 340px;
  align-self: flex-start;
  margin-top: 10px;
}

.margin-left {
  margin-left: 32px;
}

.margin-right {
  margin-right: 32px;
}

/* ======================== TEAM SOCIAL MEDIA ======================== */
.team-container {
  display: flex;
  flex-direction: row;
  background: rgb(11, 12, 15);
  padding: 24px 32px;
  color: whitesmoke;
  border-radius: 4px;
}

.team-logo {
  align-self: flex-start;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-icon {
  width: 32px;
  margin: 8px;
}

/* ========================= MISC STYLES ========================= */

.medium {
  font-size: 18px;
}
