<footer>
  <img
    class="footer-logo"
    src="../../images/logo-light.png"
    alt="MoonRift logo"
  />
  <!-- Footer Social Icons -->
  <ul id="footer-socials" class="footer-socials">
    <li>
      <a
        class="footer-social-link"
        href="https://www.facebook.com/MoonRiftEntertainment/"
        target="_blank"
      >
        <img
          class="footer-social-icon"
          src="../../assets/icons/social-media/036-facebook-silver.svg"
          alt="social media icon"
        />
      </a>
      <a
        class="footer-social-link"
        href="https://twitter.com/MoonRiftLLC/"
        target="_blank"
      >
        <img
          class="footer-social-icon"
          src="../../assets/icons/social-media/008-twitter-silver.svg"
          alt="social media icon"
        />
      </a>
      <a
        class="footer-social-link"
        href="https://www.youtube.com/channel/UCECOpIunnDsx0vtFu5Uqaow"
        target="_blank"
      >
        <img
          class="footer-social-icon"
          src="../../assets/icons/social-media/001-youtube-silver.svg"
          alt="social media icon"
        />
      </a>
      <a
        class="footer-social-link"
        href="https://www.instagram.com/MoonRiftEntertainment/"
        target="_blank"
      >
        <img
          class="footer-social-icon"
          src="../../assets/icons/social-media/029-instagram-silver.svg"
          alt="social media icon"
        />
      </a>
    </li>
  </ul>

  <!-- Footer contact info -->
  <div class="footer-contact-info">
    <p>
      Email:
      <a class="footer-email" href="MoonRiftEntertainment@gmail.com"
        >MoonRiftEntertainment@gmail.com</a
      >
    </p>
    <p>Phone: +1 (661) 269-3513</p>
  </div>
  <p class="copyright">Copyright &copy; 2021 MoonRift Entertainment</p>
</footer>
