<nav class="nav-bar">
  <span class="hamburger" onclick="toggleSidenav()">&#9776;</span>
  <span class="nav-left">
    <a class="nav-link" href="../../index.html">Home</a>
    <div class="dropdown">
      <a class="nav-link" href="../games.html">Games</a>
      <div class="dropdown-content">
        <a href="./kiwi.html">Kiwi</a>
        <a href="./soulguard.html">Soul Guard</a>
        <a href="./tk1.html">Toy Kingdom</a>
        <a href="./tk2.html">Toy Kingdom 2</a>
      </div>
    </div>
  </span>
  <a href="../../index.html"
    ><img
      class="nav-logo"
      src="../../images/logo-light.png"
      alt="MoonRift logo"
  /></a>
  <span class="nav-right">
    <a class="nav-link" href="../internships.html">Internships</a>
    <a class="nav-link" href="../about.html">About</a>
  </span>
</nav>
