<footer>
  <img class="footer-logo" src="../images/logo-light.png" alt="MoonRift logo" />
  <!-- Footer Social Icons -->
  <template id="footer-social-template">
    <li>
      <a class="footer-social-link" href="#" target="_blank">
        <img class="footer-social-icon" src="" alt="social media icon" />
      </a>
    </li>
  </template>
  <ul id="footer-socials" class="footer-socials"></ul>
  <!-- Footer contact info -->
  <div class="footer-contact-info">
    <p>
      Email:
      <a class="footer-email" href="MoonRiftEntertainment@gmail.com"
        >MoonRiftEntertainment@gmail.com</a
      >
    </p>
    <p>Phone: +1 (661) 269-3513</p>
  </div>
  <p class="copyright">Copyright &copy; 2021 MoonRift Entertainment</p>
</footer>
